body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

.tiptap-container > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.deck-editor-tiptap {
  height: 100%;
  padding: 1em;
  font-size: 200%;
  border: solid rgb(189, 189, 189) 2px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert {
  animation: alertTransition 10s ease-in forwards;
}

#root {
  width: 100%;
  height: 100%;
}

@keyframes alertTransition {

  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
  
}
